.*_cache
inst/extras/
*~
.Rproj.user
.Rhistory
.RData
.Ruserdata
..Rcheck
.MGnify_cache
inst/doc
NOTES
*.RDS
Testing
.gitignore
tmp
.RDataTmp
*.Rproj
**/NA/
vignettes/*.html
vignettes/*.R
vignettes/*.pdf
vignettes/MGnifyR_cache
